/* body {
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  line-height: 24px;
  font-size: 16px;
} */

.bio {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content;
  grid-gap: 24px;
}

.whatk-list {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  width: 100%;
  min-width: 100%;
  flex-direction: row;
  /* border-top-right-radius: 40px; */
  border-top-left-radius: 40px;
}

.whatk-item {
  flex: 1;
  display: flex;
  align-items: stretch;
  cursor: pointer;
  transition: all 0.35s ease;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
  }

  &.active {
    flex: 6;
    cursor: default;

    &:before {
      background: #f1f6fb;
    }
  }
}

.bio-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;

  @media only screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 48px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 64px;
  }
}

.whatk-title {
  font-weight: bold;
  white-space: nowrap;
  position: absolute;
  z-index: 30;
  opacity: 1;
  top: 50%;
  left: 50%;
  transition: top 0.35s, opacity 0.15s;
  transform-origin: 0 0;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);

  @media only screen and (min-width: 1280px) {
    top: 90%;
    left: 50%;
    font-size: 32px;
    transform: translate(-20px, -50%) rotate(-90deg);
  }

  .active & {
    opacity: 0;
    top: 200%;
  }
}

.section-content {
  position: relative;
  z-index: 30;
  opacity: 0;
  align-self: flex-end;
  width: 100%;
  transition: all 0.35s 0.1s ease-out;

  .active & {
    opacity: 1;
  }

  .inner {
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    align-items: flex-end;
    left: 0;
    bottom: 0;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.25s ease-out;

    @media only screen and (min-width: 768px) {
      grid-auto-flow: column;
      grid-template-columns: calc(100% - 340px) 300px;
      grid-column-gap: 40px;
      padding: 40px;
    }

    @media only screen and (min-width: 1280px) {
      grid-auto-flow: column;
      grid-template-columns: 460px 200px;
      grid-column-gap: 40px;
      padding: 40px;
    }

    .active & {
      opacity: 1;
    }
  }
}

.bio-description {
  font-size: 1em;
  color: black;
}

.section-image {
  width: max-content;
  height: max-content;
  object-fit: cover;
  position: absolute;
  left: 60%;
  bottom: 20px;
  transition: transform 0.3s ease;

  .active & {
    transform: scale(1.1);
  }

  @media only screen and (max-width: 768px) {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 100%;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .whatk-item {
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .bio-title, .bio-description {
    text-align: center;
  }

  .whatk-title {
    font-size: 20px;
    text-align: center;
  }
}
