.hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f8f8f8; 
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  /* width: 100%; */
}

.hero-text {
  width:650px;
  /* flex: 1; */
  padding-right: 20px;
  transition: opacity 0.5s ease-in-out;
}

.hero-icon img {
  width: 50px; 
  margin-bottom: 20px;
}

.hero-text h1 {
  width:90%;
  line-height: 1.5;
  font-size: 58px;
  color: #07294d;
  margin-bottom: 20px;
  animation: slideIn 1.5s ease-out forwards;
  opacity: 0; 
}

.hero-text p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  animation: slideIn 1.5s ease-out forwards;
  opacity: 0; 
}

.hero-button {
  padding: 10px 20px;
  background-color: #28a745; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #218838; 
}

.hero-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  flex: 1;
  max-width: 400px; 
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}


.button-container {
  display: flex;
  align-items: center;
  gap: 1rem; /* Adjust the gap between buttons if needed */
  margin-top: 1rem; /* Add some space above the buttons if needed */
}