button {
  display: flex;
}
button {
  padding: 8px 20px;
  border: none;
  background-color: #F59300;
  letter-spacing: 0.3px;
  color: rgb(17, 17, 17);
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
  font-weight: 600;
  animation: slideIn 1.5s ease-out forwards;
  opacity: 0; 
}
button:hover {
  background-color: #ce7d02;
} 
button:focus {
  outline: 2px solid #F59300;
  outline-offset: 2px;
}
.primary-btn:hover{
      /* background-color: #ce7d02; */
      background-color: #F90;
}
.secondary-btn{
  padding: 8px 20px;
  border: 1px solid #F59300;
  background-color: white;
  letter-spacing: 0.3px;
  color: #F59300;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
  font-weight: 600;
}
.secondary-btn:hover{
  background-color: #F90;
  color: white;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}