/* WhyUs.css */
.custom-bullet-blink {
  display: inline-block;
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
  margin-right: 5px; 
  animation: blink 1s infinite;
  vertical-align: middle; 
}

@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-header {
  /* Fixes the position */
  position: absolute;
  top: 5%;
  left: 4%;
  /* Adds some padding */
  white-space: nowrap;
  font-family: "DM Mono", monospace;
  /* Background color for better visibility */
  z-index: 1000; /* Ensures it stays on top of other elements */
}

.blink-p3 {
  margin: 0; /* Ensures no default margin */
  font-size: 1.5em; /* Adjusts font size if needed */
}

