.main_div {
    display: flex;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
}

/* Style for the contact information section */
.Contact_info {
    text-align: center;
    width: 49%;
    /* Take up half the width of the parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    /* Light grey background for the contact info section */
    /* margin-right: 10px; Move the Contact_info div slightly to the right */
    border-radius: 10px;
    /* Add border radius to Contact_info */
}

/* Style for the information header */
.information h2 {
    width: 60%;
    font-size: 36px;
    margin-bottom: 45px;
    font-family: sans-serif;

}

.information p {
    width: 50%;
    font-size: 17px;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 30px;

}

/* Style for the card contact sections */
.card_div {
    display: flex;
    width: 400px;
    padding: 21px;
    height: 130px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 12%;
    background-color: #fff;
}

/* Add hover animation to card contact sections */
.card_div:hover {
    animation: zoomOut 2s ease-out infinite alternate;
}

/* Keyframes for hover animation */
@keyframes zoomOut {
    0% {
        transform: scale(1.03);
        /* Initial scale */
    }

    50% {
        transform: scale(1.05);
        /* Slightly larger scale */
    }

    100% {
        transform: scale(1.05);
        /* Back to initial scale */
    }
}

/* Add hover effects for card contact sections */
.card_div:hover {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    /* Change to your desired hover background color */
    transform: scale(0.95);
}

/* Add hover effects for the icon div */
.card_div:hover .icon_div {
    background-color: #fff;
}

/* Style for the icon div */
.icon_div {
    flex: 0 0 auto;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 212, 243);
    border-radius: 10px;
    transition: background-color 0.3s;
}

/* Style for the icon image */
.icon {
    width: 30px;
    height: 30px;
}

/* Style for the content section */
.content {
    display: block;
    padding-left: 20px;
    text-align: left;
}

/* Style for the title text */
.title {
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for the subtitle text */
.sub_content {
    font-family: sans-serif;
    font-size: 16px;
    color: #666;
    white-space: pre-line;
}

/* Add spacing between subtitle lines */
.sub_content_line {
    display: block;
    margin-top: 5px;
    /* Add space between sub-content lines */
    transition: color 0.3s;
}

/* Style for the form container */
.Form_div {
    width: 51%;
    /* Take up half the width of the parent */
    display: flex;
    justify-content: center;
    /* Center the form horizontally */
    align-items: center;
    /* Center the form vertically */
    padding: 20px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
}

/* Style for the form card */
.card {
    background: #fff;
    border-radius: 15px;
    /* Add border radius to the card */
    padding: 60px 60px;
    width: 100%;
    /* Full width of the parent */
    max-width: 430px;
    /* Decreased maximum width */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: adds a subtle shadow */
}

.card h2 {
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 20px;

}

/* Style for the decorative element */
/* .card:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 75px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border-radius: 0 40px 0 100px;
} */

/* Style for the submit button */
.contact-btn {
    color: #fff;
    padding: 10px 135px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
}

/* Add hover effects for the submit button */
.contact-btn:hover {
    color: #fff;
    border-color: white;
    /* Darker border color on hover */
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    box-shadow: 0 6px 12px rgba(0, 114, 255, 0.3);
    /* Subtle box shadow on hover */
}