.custom-input {
    margin-bottom: 1.5rem;
  }
  
  .custom-input label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .custom-input input {
    width: 100%;
    max-width: 330px; /* Adjusted width */
    height: 40px; /* Adjusted height */
    padding: 0.5rem ; /* Adjusted padding */
    font-size: 0.9rem;
    border: 1px solid #0072ff ;
    outline: none;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box; /* Ensure padding is included in width/height */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  