.header {
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: width 0.8s, border-radius 0.3s, background 0.3s, backdrop-filter 0.3s, margin-top 0.3s, box-shadow 0.3s;
  z-index: 1000;
  font-family: 'Roboto', sans-serif; /* Modern font */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05); /* Subtle drop shadow for normal header */
}

.header.scrolled {
  width: 80%;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px); 
  margin-top: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Layered box shadow */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px 20px;
  
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 14px;
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  transition: color 0.3s, background 0.3s, transform 0.3s; /* Added transform transition */
  font-size: 16px; /* Adjust font size */
  font-weight: 500;
  border-radius: 25px; /* Rounded corners for a modern look */
}

.menu li:hover {
  color: #fff; /* Change text color on hover */
  /* background: linear-gradient(45deg, #ff7e5f, #feb47b); */
  background: linear-gradient(45deg, #0072ff, #7badfe);
   /* Subtle gradient background on hover */
  transform: translateY(-3px); /* Slight lift effect on hover */
}

.logo {
  font-size: 28px; /* Adjust font size */
  font-weight: bold;
  width: 250px;
}

.cta-buttons {
  display: flex;
}


@media (max-width: 768px) {
  .nav {
  flex-direction: column;
  
  }

  .menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .menu li {
    margin-right: 0;
    text-align: center;
    width: 100%;
    font-size: 18px; /* Larger font size for better readability on small screens */
    padding: 15px 0;
  }

  .cta-buttons {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
  }

  .btn {
    width: 80%;
    margin-left: 0;
    margin-top: 10px;
  }
}
