

.header {
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: width 0.8s, border-radius 0.3s, background 0.3s, backdrop-filter 0.3s, margin-top 0.3s;
  z-index: 1000;
}

.header.scrolled {
  width: 80%;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); 
  margin-top: 10px;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 6px 20px;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  transition: color 0.3s;
}

/* .menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #373737;
  transition: width 0.3s ease, left 0.3s ease;
}

.menu li:hover::after {
  width: 100%;
  left: 0;
}

.menu li:hover {
  color: #F59300;
} */



.logo {
  font-size: 24px;
  font-weight: bold;
  width: 250px;
  /* background-color: aquamarine; */

}

/* .cta-buttons {
  display: flex;
} */

/* .btn {
  margin-left: 10px;
  padding: 8px 20px;
  border: none;
  background-color: #F59300;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ce7d02;
} */

/* .btn:focus {
  outline: 2px solid #F59300;
  outline-offset: 2px;
} */

/* Responsive Styles */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    margin-right: 0;
    text-align: center;
    width: 100%;
  }

  .cta-buttons {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
  }

  .btn {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}
