.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    /* Make each section stick at the top */
    top: 0;
    /* Stick to the top of the viewport */
    transition: transform 0.5s ease-in-out;
    /* Smooth transition */
    will-change: transform;
    /* Optimize for transform changes */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    scroll-snap-type: y mandatory;
  }
  